<div class="mat-elevation-z8 table-hover">
<table mat-table [dataSource]="dataSource" matSort >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Salario Column -->
    <ng-container matColumnDef="salario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Salario </th>
      <td mat-cell *matCellDef="let element"> {{element.salario}} </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Config Column -->
    <ng-container matColumnDef="configuracion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Config </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-raised-button color="primary" (click)="optionConfiguration(element)">Opciones</button> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headerDataTable"></tr>
    <tr mat-row *matRowDef="let row; columns: headerDataTable"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>